// FONTS

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

// COLORS

$header-text: #fff;
$main-text: #000;
$footer-text: #545454;
$modal-text: #8c8c8c;

$accent: #ff6b08;
$error: #ff001b;
