<!-- 
    SVG icon paths
    
    xlink:href="./images/icons.svg#icon-heart" 
 -->

<footer class="footer">
  <div class="footer__content-width">
    <div class="flex">
      <p class="rights">© 2020 | All Rights Reserved |</p>
      <p class="rights">
        Developed with<svg class="icon-heart" width="14px" height="13px">
          <use href="./images/icons.svg#icon-heart"></use></svg>by
        <a class="no-blue" href="./partials/team-modal.html">GoIT Students</a>
      </p>
    </div>
  </div>
</footer>
