<!-- 
    SVG icon paths
    
    xlink:href="./images/icons.svg#icon-search"
    xlink:href="./images/icons.svg#icon-film"
 -->

<header class="header">
  <div class="header__container">
    <a class="header__logo" href="index.html"
      ><svg class="header__logo-icon">
        <use href="./images/icons.svg#icon-film"></use>
      </svg>
      <h1 class="header__title">Filmoteka</h1></a
    >
    <nav class="nav">
      <button type="button" class="nav__btn nav__btn--active">HOME</button>

      <button type="button" class="nav__btn">MY LIBRARY</button>
    </nav>
  </div>
  <form class="search-form">
    <input
      class="search-form__input"
      type="text"
      name="title"
      placeholder="Movie search"
    /><svg class="search-form__icon">
      <use href="./images/icons.svg#icon-search"></use>
    </svg>
  </form>
  <p class="header__error">
    We didn't find any movies matching your search. Please enter the correct
    movie title.
  </p>
</header>
