<main class="main">
  <div class="library-container">
    <section class="watched movie-set">
      <p p class="library__starter">
        <img class="library__img" src="./images/popcorn.png" />You haven't
        watched any movies yet :(
      </p>
    </section>
    <div class="pagination">
      <div class="prev-button">
        <svg>
          <use
            xlink:href="./images/icons.svg#icon-arrow"
            width="16"
            class="icon"
          ></use>
        </svg>
      </div>

      <div class="page-numbers-library"></div>

      <div class="next-button">
        <svg>
          <use
            xlink:href="./images/icons.svg#icon-arrow"
            width="16"
            class="icon"
          ></use>
        </svg>
      </div>
    </div>
    <section class="queued">
      <p class="library__starter">
        <img class="library__img" src="./images/popcorn.png" />You haven't
        queued any movies yet :(
      </p>
    </section>
  </div>
</main>
