<!-- 
    SVG icon paths
    
    xlink:href="./images/icons.svg#icon-arrow"
 -->

<main class="main">
  <section class="movie-container">
    <ul class="movie-set">
      <li class="film-card">
        <img class="movie-card" src="images/template/movie-1.jpg" />
        <div class="movie-card__description">
          <h2 class="movie-card__description--title">film title</h2>
          <p class="movie-card__description--category">film info</p>
        </di >
      </li>
      <li class="film-card">
        <img class="movie-card" src="images/template/movie-2.jpg" />
        <div class="movie-card__description">
          <h2 class="movie-card__description--title">film title</h2>
          <p class="movie-card__description--category">film info</p>
        </di >
      </li>
      <li class="film-card">
        <img class="movie-card" src="images/template/movie-3.jpg" />
        <div class="movie-card__description">
          <h2 class="movie-card__description--title">film title</h2>
          <p class="movie-card__description--category">film info</p>
        </di >
      </li>
      <li class="film-card">
        <img class="movie-card" src="images/template/movie-4.jpg" />
        <div class="movie-card__description">
          <h2 class="movie-card__description--title">film title</h2>
          <p class="movie-card__description--category">film info</p>
        </di >
      </li>
      <li class="film-card">
        <img class="movie-card" src="images/template/movie-5.jpg" />
        <div class="movie-card__description">
          <h2 class="movie-card__description--title">film title</h2>
          <p class="movie-card__description--category">film info</p>
        </di >
      </li>
      <li class="film-card">
        <img class="movie-card" src="images/template/movie-6.jpg" />
        <div class="movie-card__description">
          <h2 class="movie-card__description--title">film title</h2>
          <p class="movie-card__description--category">film info</p>
        </di >
      </li>
      <li class="film-card">
        <img class="movie-card" src="images/template/movie-7.jpg" />
        <div class="movie-card__description">
          <h2 class="movie-card__description--title">film title</h2>
          <p class="movie-card__description--category">film info</p>
        </di >
      </li>
      <li class="film-card">
        <img class="movie-card" src="images/template/movie-8.jpg" />
        <div class="movie-card__description">
          <h2 class="movie-card__description--title">film title</h2>
          <p class="movie-card__description--category">film info</p>
        </di >
      </li>
      <li class="film-card">
        <img class="movie-card" src="images/template/movie-9.jpg" />
        <div class="movie-card__description">
          <h2 class="movie-card__description--title">film title</h2>
          <p class="movie-card__description--category">film info</p>
        </di >
      </li>
    </ul>
  </section>
</main>
