<main class="main">
  <!-- loader -->
  <div class="loader">
    <div class="loader__container">
      <div class="loader__film">
        <img
          class="loader__film-img"
          src="./images/film.png"
          alt="loader image"
        />
        <img
          class="loader__film-img"
          src="./images/film.png"
          alt="loader image"
        />
      </div>
      <img
        class="loader__camera"
        src="./images/camera.png"
        alt="loader camera image"
      />
    </div>
  </div>

  <!--movies-->
  <section class="movie-container">
    <ul class="movie-set"></ul>
    <div class="pagination">
      <div class="prev-button">
        <svg>
          <use
            xlink:href="./images/icons.svg#icon-arrow"
            width="16"
            class="icon"
          ></use>
        </svg>
      </div>

      <div class="page-numbers"></div>

      <div class="next-button">
        <svg>
          <use
            xlink:href="./images/icons.svg#icon-arrow"
            width="16"
            class="icon"
          ></use>
        </svg>
      </div>
    </div>
  </section>
</main>
