<!-- 
    SVG icon paths
    
    xlink:href="./images/icons.svg#icon-arrow"
 -->

<main class="main">
  <div class="one-movie">
    <a>
      <img
        class="one-movie__img"
        src="./images/template/movie-1.jpg"
        alt="Movie 1 tamplate"
    /></a>
    <div class="one-movie__description">
      <h3 class="one-movie__description--title">This is title</h3>
      <span class="one-movie__description--category"
        >Category, Category | Year</span
      >
    </div>
  </div>
</main>
