<main class="main">
  <div class="library-container">
    <section class="watched movie-set">
      <div class="library__starter">
        <img
          class="library__img"
          src="./images/popcorn.png"
          alt="no movies watched yet"
        />You haven't watched any movies yet :(
      </div>
    </section>

    <section class="queued movie-set">
      <div class="library__starter">
        <img
          class="library__img"
          src="./images/popcorn.png"
          alt="no movies queued yet"
        />You haven't queued any movies yet :(
      </div>
    </section>
  </div>
</main>
