<div class="pagination">
  <div class="prev-button">
    <svg>
      <use
        xlink:href="./images/icons.svg#icon-arrow"
        width="16"
        class="icon"
      ></use>
    </svg>
  </div>

  <div class="page-numbers"></div>

  <div class="next-button">
    <svg>
      <use
        xlink:href="./images/icons.svg#icon-arrow"
        width="16"
        class="icon"
      ></use>
    </svg>
  </div>
</div>

<!-- 
    SVG icon paths
    
    xlink:href="./images/icons.svg#icon-arrow"
  
 -->
