<div class="pagination">

 
  <a href="#"
    ><svg class="icon-arrow icon-arrow--left" width="16px" height="16px">
      <use href="./images/icons.svg#icon-arrow"></use></svg
  >
  <a class="active" href="#">1</a>
  <a href="#">2</a>
  <a href="#">3</a>
  <a href="#">4</a>
  <a href="#">5</a>
  <a href="#">6</a>
  <a href="#">7</a>
  <a href="#"
    ><svg class="icon-arrow" width="16px" height="16px">
      <use href="./images/icons.svg#icon-arrow"></use></svg
  ></a>
</div>

<!-- 
    SVG icon paths
    
    xlink:href="./images/icons.svg#icon-arrow"
  
 -->
