@use '../utils' as *;

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  .next-button {
    rotate: 180deg;
  }
  .prev-button,
  .next-button {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $button-background;
    border-radius: 5px;
    cursor: pointer;
    width: 40px;
    height: 40px;

    & svg {
      width: 16px;
      height: 16px;
    }
    & use {
      fill: transparent;
      stroke: $main-text;
    }
    &:hover use {
      fill: transparent;
      stroke: $accent;
    }
    &:hover {
      background-color: $main-text;
    }
  }

  .page-numbers {
    display: flex;
    align-items: center;

    .page-number {
      border: none;
      background-color: transparent;
      color: #000;
      font-size: 16px;
      cursor: pointer;
      margin: 0 5px;
      padding: 5px 10px;
      border-radius: 5px;
      transition: background-color 0.2s;

      &.active {
        background-color: $accent;
        color: #fff;
      }

      &:hover {
        background-color: $button-background;
        color: $main-text;
      }
    }
  }
}
